{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
        <main class="tm-main">

            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">

                </div>
            </div>
            <div class="row tm-row tm-mb-120">
                <div class="col-12">
                    <h2 class="tm-color-primary tm-post-title tm-mb-10">Спасибочки!</h2>
                    <p class="mb-5 tm-line-height-short">
                        You are the best!!!
                    </p>
<!--                    <h3 class="tm-color-primary tm-post-title tm-mb-40">Contact Us</h3>-->
                </div>

                <div class="col-lg-5 tm-contact-right">
                    <address class="mb-4 tm-color-gray">
                        somewhere in Saint Petersburg
                    </address>
                    <span class="d-block">
                        Tel:
                        <a href="tel:89827154012" class="tm-color-gray">8 (982) 715-40-12</a>
                    </span>
                    <span class="mb-4 d-block">
                        Email:
                        <a href="mailto:alicakabalina@gmail.com" class="tm-color-gray">alicakabalina@gmail.com</a>
                    </span>
<!--                    <p class="mb-5 tm-line-height-short">-->
<!--                        Maecenas eu mi eu dui cursus-->
<!--                        consequat non eu metus. Morbi ac-->
<!--                        turpis eleifend, commodo purus-->
<!--                        eget, commodo mauris.-->
<!--                    </p>-->
                    <ul class="tm-social-links">
                        <li class="mb-2">
                            <a href="https://github.com/ailiskab-hub" class="d-flex align-items-center justify-content-center">
                                <i class="fab fa-github">Git</i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://vk.com/ailiskab" class="d-flex align-items-center justify-content-center">
                                <i class="fab fa-vk">VK</i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://t.me/+pZjHMegncOo0NWQy" class="d-flex align-items-center justify-content-center">
                                <i class="fab fa-telegram">TG</i>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://instagram.com" class="d-flex align-items-center justify-content-center mr-0">
                                <i class="fab fa-instagram">IG</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </main>
    </div>

{% endblock %}